# Models
models/
backup_models/
*.pt

# Training scripts
authenticity_train.py
authenticity_train_v2.py

# Python cache
__pycache__/
*.pyc

# Output files
output/
static/results/

# Virtual environment
venv/